<p id="notice"><%= notice %></p>

<h1>Uploaders</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Content</th>
	  <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @uploaders.each do |uploader| %>
      <tr>
        <td><%= uploader.time %></td>
        <td><%= uploader.content %></td>
		<td><%= uploader.place %></td>
        <td><%= link_to 'Show', uploader %></td>
        <td><%= link_to 'Edit', edit_uploader_path(uploader) %></td>
        <td><%= link_to 'Destroy', uploader, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Uploader', new_uploader_path %>
